@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(173, 154, 135, 0.125);
    position: relative;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo-container {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 1000;
}

.logo {
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}

.logo img {
    width: 55px;
    height: 55px;
}

nav {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    z-index: 3;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 2rem;
}

.header-title {
    margin-top: 0;
}

.link-default {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
}

nav ul li a:hover {
    text-decoration: none;
}

nav ul li a.active {
    color: orange;
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 5rem;
    margin: 0;
}

.cta-container {
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 1000;
}

.cta-button {
    padding: 10px 20px;
    background-color: transparent;
    color: rgb(255, 140, 0);
    border: 2px solid #FF8C00;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.cta-button:hover {
    background-color: #FF8C00;
    color: white;
}

.header-title.langara {
    background: linear-gradient(to right, grey, orange);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
}

body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.footer-container {
    text-align: center;
    background-color: rgba(142, 108, 73, 0.224);
    width: 100%;
    position: relative;
    margin-top: auto;
    padding: 0.5rem;
}

.back-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.back-to-top-btn:hover {
    opacity: 1;
}
