.page {
    width: 100%;
    min-height: 100vh;
    background-color: whitesmoke;
}

.background {
    background-color: whitesmoke;
}

.content {
    max-width: 80%;
    margin: auto;
    position: relative;
}

.page-header {
    padding-top: 25rem;
    text-align: center;
    color: rgba(255, 255, 255, 0);
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 3rem;
}

.events-display {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.page-heading {
    grid-column: span 3;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.event-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: auto;
}

.event-image {
    width: 100%;
    max-width: 300px;
    height: 200px;
    object-fit: cover;
    margin: 1rem auto;
}

.event-info {
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.learn-more {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.our-section {
    padding: 40px 20px;
    background-color: #f0f0f0;
}

.our-section h2 {
    margin: 0;
}

.our-vision-mission {
    display: grid;
    grid-template-columns: 0.75fr 1.15fr;
    gap: 10px;
    align-items: start;
    margin-bottom: 40px;
    margin: auto;
}

.our-image {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
    margin: 0 12.5%;
}

.our-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.benefits-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    text-align: left;
    margin: auto;
    margin-left: 5%;
}

.benefit-card {
    padding-right: 1.5rem;
}

.benefit-card h3 {
    font-size: 2rem;
    color: #6f42c1;
    margin-bottom: 10px;
}

.benefit-card h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.benefit-card p {
    font-size: 1rem;
    color: #6c757d;
}

.header-content {
    text-align: center;
}

.header-title {
    font-size: 4rem;
    margin: 0.25rem;
    line-height: 1.2;
    display: block;
    padding: 0.25rem;
}

.header-title.langara {
    background: linear-gradient(to right, grey, orange);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}